

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
 

}


  /* Buttons */
  #main_subs  {
   
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
  }

    #main_subs button{
      background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
   
      border: 1px solid #f2f2f2;
      border-radius: 4px;
      color: #5F6368;
      font-family: Arial,sans-serif;
      font-size: 14px;
      margin: 11px 4px;
      padding: 0 16px;
      line-height: 27px;
      height: 36px;
      min-width: 54px;
      text-align: center;
      cursor: pointer;
      user-select: none;
    }
  
#main_subs button:hover {
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  color: #222;
   
}

  /* Nav Bar */
  .nav {
     font-family: "Arial", Sans, serif;
    font-size: 13px;
    margin-top: 25px;
    height: 40px;
    display: flex;
  justify-content: flex-end;

  }
  .nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  }
  .nav li {
display: inline;
 margin: 8px;
 padding-right: 10px;
  }
  .item_nav--app {
    height: 30px;
    width: 30px;
    position: relative;
  }
  
  .item_nav--app svg {
    width: 17px;
    height: 17px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: var(--color-gray-500);
    padding-right: 10px;
    padding-bottom: 15px;
  }
  
  a {
    color: #565656;
     text-decoration: none;
  }
    a:hover {
    color: #565656;
     text-decoration: underline;
  }
  .item_nav--profile {
    height: 32px;
    width: 32px;
    border-radius: 25%;
    margin-bottom: 450px;
    position: relative;
  }
  
  .item_nav--profile a {
    width: 100%;
    height: 100%;
    display: inline-block;
    background-image: url("https://lh3.googleusercontent.com/ogw/ADGmqu-QAFu7tab20USSCNBnn1AzcimyFH1Rpl-zG-U0=s32-c-mo");
    margin-bottom: 450px;
    border-radius: 50%;
    position: relative;
    margin-top: -9.5px;
  }
  
  
  .search {
    padding-bottom: 10px;
    padding-top: 10px;
  
}
  .main_logo
{
  padding-bottom: 50px;
  padding-top: 150px;
  height: 72px;
width: auto;
}
/* contains the whole search bar */
.search_container {
  --searchbox-height: 44px;
  margin: 0 auto 0 auto;
  min-width: 410px;
  width: var(--content-width);
}
/* searchbar  */

.searchbar {
  background-color: transparent;
  cursor: text;
  margin: 0 auto;
  max-width: 584px;
  outline: black;
  border: 1px solid #dfe1e5;
  border-radius: 22px;
  box-sizing: border-box;
  font-size: 16px;
  height: var(--searchbox-height);
  position: relative;
}




.search_input {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  width: calc(100% - 80px);
  border-color: transparent;
  color: rgb(117, 117, 117);
  font-size: 16px;
  line-height: 44px;
  margin: auto 0;
  overflow: hidden;
  text-align: initial;
  text-overflow: ellipsis;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.search_input:focus {
  outline: transparent;
}

.search_input:focus::placeholder {
  color: transparent;
}

.search_icon_wrapper {
  padding: 0 24px;
}

.search_icon {
  -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0iIzVGNjM2OCI+PHBhdGggZD0iTTE1LjUgMTRoLS43OWwtLjI4LS4yN0E2LjQ3MSA2LjQ3MSAwIDAgMCAxNiA5LjUgNi41IDYuNSAwIDEgMCA5LjUgMTZjMS42MSAwIDMuMDktLjU5IDQuMjMtMS41N2wuMjcuMjh2Ljc5bDUgNC45OUwyMC40OSAxOWwtNC45OS01em0tNiAwQzcuMDEgMTQgNSAxMS45OSA1IDkuNVM3LjAxIDUgOS41IDUgMTQgNy4wMSAxNCA5LjUgMTEuOTkgMTQgOS41IDE0eiIvPjwvc3ZnPg==);
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 20px;
  background-color: rgb(14, 14, 14);
  bottom: 0;
  left: 16px;
  margin: auto;
  position: absolute;
  top: 0;
  width: 24px;
}




.search_microphone {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0ibm9uZSIgZD0iTTAgMGgyNHYyNEgweiIvPjxwYXRoIGZpbGw9IiM0Mjg1RjQiIGQ9Ik0xMiAxNWMxLjY2IDAgMi45OS0xLjM0IDIuOTktM0wxNSA1YzAtMS42Ni0xLjM0LTMtMy0zUzkgMy4zNCA5IDV2N2MwIDEuNjYgMS4zNCAzIDMgM3oiLz48cGF0aCBmaWxsPSIjMzRBODUzIiBkPSJNMTEgMTguOTJoMlYyMmgtMnoiLz48cGF0aCBmaWxsPSIjRjRCNDAwIiBkPSJNNyAxMkg1YzAgMS45My43OCAzLjY4IDIuMDUgNC45NWwxLjQxLTEuNDFDNy41NiAxNC42MyA3IDEzLjM4IDcgMTJ6Ii8+PHBhdGggZmlsbD0iI0VBNDMzNSIgZD0iTTEyIDE3Yy0xLjM4IDAtMi42My0uNTYtMy41NC0xLjQ3bC0xLjQxIDEuNDFBNi45OSA2Ljk5IDAgMCAwIDEyLjAxIDE5YzMuODcgMCA2Ljk4LTMuMTQgNi45OC03aC0yYzAgMi43Ni0yLjIzIDUtNC45OSA1eiIvPjwvc3ZnPg==) no-repeat center;
  background-size: 21px 21px;
  bottom: 0;
  cursor: pointer;
  margin-inline-end: 16px;
  padding: 22px 12px 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 21px;
  border-color: transparent;
}

.searchbar:hover {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    
}


/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-top: 1px solid #e4e4e4;
  background-color: #f2f2f2;
margin-top: 373px;
}
.footer div ul {
  list-style: none;
  display: flex;
}
.footer div ul li {
  padding-left: 27px;
}
