

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;

}
  /* Buttons */

  .searchbuttons {
 
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: Arial,sans-serif;
    font-size: 14px;
    margin: 11px 2px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    float: bottom;


  }
  .searchbuttons:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: rgb(48, 48, 48);
  }

  /* Nav Bar */
  .nav {
     font-family: "Arial", Sans, serif;
    font-size: 13px;
    margin-top: 25px;
    height: 40px;
    display: flex;
    text-align: right;
    justify-content: flex-end;
  }
  .nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  }
  .nav li {
display: inline;
 margin: 8px;
 padding-right: 10px;
  }
  .nav__item--app {
    height: 30px;
    width: 30px;
    position: relative;
  }
  
  .nav__item--app svg {
    width: 17px;
    height: 17px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: var(--color-gray-500);
    padding-right: 10px;
  }
  
  a {
    color: #565656;
     text-decoration: none;
  }
    a:hover {
    color: #565656;
     text-decoration: underline;
  }

  li img {
    border-radius: 100px;

  }
  
  .search {
    padding-bottom: 10px;
    padding-top: 10px;
  
}
  .main_logo
{
  padding-bottom: 50px;
  padding-top: 150px;
  height: 72px;
width: auto;
}

.wrapper {
  position: relative;
  display: flex;
  min-width: 100px;
  
}

.search {
  border: 1px solid white;
  border-radius: 50px;
  height: 25px;
  width: 20%;
  padding: 2px 23px 2px 30px;
  
  background-color: #f5f5f5;
  margin-left: auto;
  margin-right: auto;
  border-bottom-color: rgb(16, 16, 16);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(16, 16, 16);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(16, 16, 16);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(16, 16, 16);
border-top-style: none;
border-top-width: 0px;
box-sizing: border-box;
color: rgb(16, 16, 16);
font-family: Noto Sans;
font-size: 16px;
height: 37px;

text-align: center;
width: 494px
  
}

.search-icon {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 14px;
 padding-left: 710px;
 padding-top: 3px;

}

.clear-icon {
  position: absolute;
  top: 9px;
  right: 8px;
  width: 12px;
  cursor: pointer;
  visibility: hidden;
  
}

.search:hover, .search:focus {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
  
}

